DraRay_CriaEventoAgenda_Bckp.json
{
  "name": "DraRay_CriaEventoAgenda_Bckp",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        480,
        224
      ],
      "id": "6ea1626d-1ba3-4eb2-8df5-15583db61b2f",
      "name": "Merge"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "nome"
            },
            {
              "name": "Tema"
            },
            {
              "name": "start"
            },
            {
              "name": "end"
            },
            {
              "name": "calendarId"
            },
            {
              "name": "attendee"
            },
            {
              "name": "chat_id"
            },
            {
              "name": "insta"
            },
            {
              "name": "resumo"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1376,
        224
      ],
      "id": "3a1277aa-a0b5-407b-bdde-eccc64725e34",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "=eb129c5ec1c3c66c00fa94749c9f9f8c8833d351fd8aa084bf2c5bc096254bb2@group.calendar.google.com",
          "mode": "id"
        },
        "timeMin": "={{ $json.start }}",
        "timeMax": "={{ $json.end }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -912,
        224
      ],
      "id": "c5e9adc7-ccf6-4347-a4ee-f1ad7d7e9f2a",
      "name": "CheckDisponibilidade",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "3g2Kh6mxA4ZgMr9d",
          "name": "CalendarFernando"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b5576f3b-1f94-4e76-b905-4c7d6e2ed74e",
              "name": "message",
              "value": "indisponivel",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -112,
        48
      ],
      "id": "0fa0cf23-ce8d-43e0-b6ac-b51e013f26f8",
      "name": "MsgErro"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d6725f65-b378-4197-8a74-f192b2b1301b",
              "leftValue": "={{ $json.available }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -688,
        224
      ],
      "id": "95276bcc-4353-4815-8a21-7043613474d2",
      "name": "SeIndisponivel"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "=eb129c5ec1c3c66c00fa94749c9f9f8c8833d351fd8aa084bf2c5bc096254bb2@group.calendar.google.com",
          "mode": "id"
        },
        "start": "={{ $('set').item.json.start }}",
        "end": "={{ $('set').item.json.end }}",
        "useDefaultReminders": false,
        "additionalFields": {
          "attendees": [
            "={{ $('set').item.json.attendee || 'ferrandis.automacao@gmail.com' }}"
          ],
          "conferenceDataUi": {
            "conferenceDataValues": {}
          },
          "description": "=Reunião com o Cliente: {{ $('set').item.json.nome }}\nTelefone: {{ $('set').item.json.chat_id }}\nInstagram: {{ $('set').item.json.insta }}\nResumo: {{ $('set').item.json.resumo }}",
          "summary": "={{ $('set').item.json.summary }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -368,
        240
      ],
      "id": "0fcc079d-4cc6-45c4-90f9-f6ec915c1fe4",
      "name": "CriaEvento",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "3g2Kh6mxA4ZgMr9d",
          "name": "CalendarFernando"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b4cd6af6-2cae-45f8-a155-b71a760d9e88",
              "name": "summary",
              "value": "=[{{ $json.Tema }}] - {{ $json.nome }}",
              "type": "string"
            },
            {
              "id": "0ced8de9-3b4c-4e08-9171-88d6df7bd41e",
              "name": "start",
              "value": "={{ $json.start }}",
              "type": "string"
            },
            {
              "id": "ba6eb3a5-2375-46fb-8595-ace608dd0677",
              "name": "end",
              "value": "={{ $json.end }}",
              "type": "string"
            },
            {
              "id": "70a7a54f-adf6-48de-ac70-08bd827c5758",
              "name": "calendarId",
              "value": "={{ $json.calendarId }}",
              "type": "string"
            },
            {
              "id": "ef7c3038-a183-418e-bf9d-d646baf12898",
              "name": "attendee",
              "value": "={{ $json.attendee }}",
              "type": "string"
            },
            {
              "id": "3923da01-7293-406b-9909-db587e308d8a",
              "name": "chat_id",
              "value": "={{ $json.chat_id }}",
              "type": "string"
            },
            {
              "id": "cf36537a-b7c6-4d5a-ba35-dba45a6d7df4",
              "name": "insta",
              "value": "={{ $json.insta }}",
              "type": "string"
            },
            {
              "id": "d4b8456a-bd90-4a27-9e24-55069edcca94",
              "name": "resumo",
              "value": "={{ $json.resumo }}",
              "type": "string"
            },
            {
              "id": "576b362f-dc4f-45b4-9795-ff8a877591c2",
              "name": "nome",
              "value": "={{ $json.nome }}",
              "type": "string"
            },
            {
              "id": "61a51d2e-ee19-42b4-8708-c0b088ae719e",
              "name": "Tema",
              "value": "={{ $json.Tema }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1120,
        224
      ],
      "id": "2b781164-bdd5-4099-9716-f33103d7836e",
      "name": "set"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CheckDisponibilidade": {
      "main": [
        [
          {
            "node": "SeIndisponivel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MsgErro": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SeIndisponivel": {
      "main": [
        [
          {
            "node": "MsgErro",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CriaEvento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CriaEvento": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "set": {
      "main": [
        [
          {
            "node": "CheckDisponibilidade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "10666286-c2dc-422d-9b0b-6b1b1f09e9e7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "90585234410ca172721ae7500e05c0eb1db0fc54ccab2b8d63f0b588d3379c29"
  },
  "id": "PlyNtXqaUIhnFgp9",
  "tags": []
}